{{#each cards}}
  <div class='card' data-id='{{id}}'>
  <div class="frame"></div>
    <img src='{{imageUrl}}' alt='movie img' ></img>
    <h3 class='title'>{{title}}</h3>
    <p class='time'>{{time}}</p>
    <p class='place'>{{country}}</p>
  </div>
{{/each}}

